*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vw;
    display: flex;
    font-family: sans-serif;
}

h1{
text-align: center;
margin: 100px;
margin-left: auto;
margin-right: auto;
}

.button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-decoration: none;
    background: black;
    color: white;
    padding: 20px 35px;
    font-size: 20px;


}

#si{
    left: 20%;
    transform:translateY(-50%) translateX(-20%)

}
#no{
    left: 80%;
    transform:translateY(-50%) translateX(-80%)

}
